.banner_block{
    background: #ee6a0c96;
    margin-bottom: 60px;
}
.banner_block .container {
padding: 0;
margin: 0 auto;
text-align: right;
}

.bio_btn{
border:2px solid black;
background: #fff;

cursor: pointer;
padding: 8px;
font-weight: 700;
text-transform: uppercase;
color:#000;
}

.vision_btn,.achievements_btn{
border:2px solid black;
  background: #c8e0e1e0;
  cursor: pointer;
padding: 8px;
font-weight: 700;
text-transform: uppercase;
color:#000;
}
.about{
border:2px solid black;
  /* background: burlywood; */
padding: 8px;
text-align: center;
font-weight: 700;
color: #000080;
text-transform: uppercase;

}
.bio{
    display: block;
}
.vision,.achievements{
display: none;
}
.bio-list{
display: grid;
}
h2{
font-size: 25px;
color:#000080;
margin: 10px 0 15px;
font-weight: 600;
text-transform: uppercase;
font-family:auto;
text-align: center;
}
.hide{
display: none;
}
.first_letter{
font-size: 50px;
}
.bottom_border{
border-bottom: 3px solid #000;
}

.bio_content,.achievement_content,.pf_content {
  text-align: justify;
  line-height: 35px;
  margin-left: 40px;

}

@media screen and (max-width: 600px) {
.banner_block{
width:660px;
}
.footer{
width:660px;

}

.bio-list{
  margin-left: 170px;
}
.bio p{
  text-align: center;
}
}

