.hide{
  display: none;
}
.firstrow_folders{
  margin-top: 100px;
  text-align: center;
}

.secondrow_folders,.thirdrow_folders{
  text-align: center;
}
.firstrow_folders p,.secondrow_folders p,.thirdrow_folders p{
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-top: 5px;
}


.firstrow_folders img,.secondrow_folders img,.thirdrow_folders img{
  cursor: pointer;
  box-shadow: 0 0 2px 1px rgb(0 140 186 / 50%);
  border-radius: 10px;
  padding: 5px;
}

.firstrow_folders img:hover,.secondrow_folders img:hover,.thirdrow_folders img:hover
{
  border:1px solid#ddd;
  box-shadow: none;

}

.gallery,.meeting,.newspaper,.folder-4,.folder-5,.folder-6,.folder-7,.folder-8,.folder-9,.folder-10,.folder-11,.folder-12{
 text-align: center;
 display: none;
}

.gallery img,.meeting img,.newspaper img,.folder-4 img,.folder-5 img,.folder-6 img,.folder-7 img,.folder-8 img,.folder-9 img,.folder-10 img,.folder-11 img,.folder-12 img{
  margin-bottom: 20px;
  margin-left: 5px;
  border: 1px solid #ddd;
  padding:5px;
}
.gallery img,.meeting img,.folder-4 img,.folder-5 img,.folder-6 img,.folder-8 img,.folder-9 img,.folder-10 img,.folder-11 img,.folder-12 img{
  width:250px;
  height:150px; 
  cursor: pointer;
}
.newspaper img{
  width:300px;
  height:300px; 
}

.folder-7 img{
  width:auto;
  height:150px;
}

 .fullimg_container{
  position: relative;
  display: none;
} 
.center img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 700px;
  margin-top: -104px;
  border: none !important;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}
/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: -20px;
  right: 10px;
  color: #000;
  font-size: 70px;
  cursor: pointer;
  font-weight: 700;
  z-index: 1;
}

.left,.right{
    position: absolute;
position:fixed;
    top:300px;
color: #000;

    font-size: 70px;
  font-weight: 700;
  cursor: pointer;
  background: lightgray;
  padding: 4px 20px;
  z-index: 1;
}
.left{
left:30px;

}
.right{

right:30px;

}


.backbtn {
  background-color: #3e8e41;
  border: none;
  border-radius: 10px;
  color:#fff;
  margin-left: 125px;
  margin-bottom: 20px;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  opacity: 0.6;
  transition: 0.3s;
  cursor: pointer;
}

.backbtn:hover {opacity: 1}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
  .left,.right{
   margin-top: 210px;
  }
  .closebtn{

    right: 175px;
    top: -220px;
   font-size:90px;

  }
  .center img{
    margin-top: 100px;
  }
}




/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .firstrow_folders img,.secondrow_folders img,.thirdrow_folders img{
   border: none;
   box-shadow: none;
  }

  .left,.right{
    margin-top: 210px;
   }
   .closebtn{
 position: absolute;
     top: -150px;
   }
   .center img{
     margin-top: 100px;
   }
  
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
 

  .firstrow_folders img,.secondrow_folders img,.thirdrow_folders img{
    cursor: pointer;
    box-shadow: 0 0 2px 1px rgb(0 140 186 / 50%);
    border-radius: 10px;
    padding: 5px;
  }

  .closebtn {
    position: absolute;
    top: -20px;
    right: 10px;
    color: #000;
    font-size: 70px;
    cursor: pointer;
    font-weight: 700;
    z-index: 1;
  }
  
  .left,.right{
      position: absolute;
     position:fixed;
      top:300px;
     color: #000;
    margin-top: 10px;
      font-size: 70px;
    font-weight: 700;
    cursor: pointer;
    background: lightgray;
    border-radius: 10px;
    padding: 4px 20px;
    z-index: 1;
  }
  .left{
  left:30px;
  
  }
  .right{
  
  right:30px;
  
  }

  .center img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 700px;
    margin-top: -104px;
    border: none !important;
  }
  
} 

